.button-contact {
    background-color: $color-main;
    font-family: $font-main;
    padding: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.button-contact a {
    text-decoration: none;
    color: $color-secondary;
}