.frame-17 {
    
    background-image: url(/images/mar.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $color-secondary;
    padding: 85px 28.5px 50px;
    gap: 3rem;
}


.frame-17-title {
    font-family: $font-main;
    font-size: 3.4rem ;
    font-weight: 500;
    letter-spacing: -3.41px;
    flex-grow: 0;
}
.frame-17 button {
    background-color: $color-main;
    font-family: $font-main;
    padding: 1.5rem;
}
.frame-17 a {
    text-decoration: none;
    color: $color-secondary;
}