.footer{
  background-color: var(--terciary-color);
  padding-left: 25px;
  height: 20vh;

}

.AdaDevfooter{
  color: var(--primary-color);
  font-family: "Roboto";
  font-weight: 600;
  font-size: 5rem;
}
