.footer{
  background-color: $color-terciary;
  padding: 70px 30px 50px 50px;
  display: flex;
  justify-content: space-between;
  @media (min-width:768px){
    background-image: url(.../images/4.svg);
    
  }

  &-AdaDev{
    color: $color-main;
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 3.5rem;
    letter-spacing: 0cap;
  }

}

.nav{
  display: none;
}


