.footer{
  background-color: $color-terciary;
  padding: 70px 30px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width:768px){
    background-image: url(/images/4.svg) center no-repeat;
    padding: 8% 13% 8% 13%;
    
  }

  &-AdaDev{
    color: $color-main;
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 3.5rem;
  }

}

.nav{
  display: none;
  @media (min-width:768px){
    display: block;
    width: 30%;
  }

  &-menu a{
    @media (min-width:768px){
      color: #D0D0D0;
      text-decoration: none;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }
}


