.header{
  background-color: rgb(246, 246, 236);
  color: $color-main;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-AdaDev{
    font-family: $font-main;
    font-weight: 600;
    font-size: 2rem;
    padding: 5% 10% 5% 10%;
  }

  &-button{
    display: none;
  
  }
}

.nav{
  //width: 20%;

  &-menu{
    display: none;
  }

}



