
.news {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 93px 38px 20px;
    gap: 27px;
    @media (min-width:768px){
        padding-top: 40px;
        margin-top: 20px;
    }
    
    


}

.news-title {
    font-family: $font-main;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -1.6px;
    color: $color-terciary;
    padding-top: 18px;
    padding-bottom: 18px;
}

.news-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 27px;
    @media (min-width:768px){
        flex-direction: row;
        margin-top: 30px;
        justify-content: space-between;
}
}
.news-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news-preview {
  & p {
    font-family: $font-main;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1.2px;
    color: #3f3f3f;
    margin-top: 27px;
    }
  
}


.news-link {
    border: 1px solid $color-main;
    font-family: $font-main;
    font-weight: 500;
    padding: 2.0rem;
    width: 230px;
    letter-spacing: -0.8;
    align-self: center;
    & a {
        text-decoration: none;
    }
    @media (min-width:768px){
        align-self: flex-start;
}
}

