.section1 {
    font-family: $font-main;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.mobile-only {
    display: none;
    @media (min-width: 768px) {
        display: block;
        padding-bottom: 80px;
        font-family: $font-main;
        font-size: 62px;
        font-weight: 600;
        color: $color-terciary;
    }
}

.p-section {
    display: none;
    @media (min-width: 768px) {
        display: block;
        padding-bottom: 20px;
        font-family: $font-main;
        font-size: 16px;
    }
}

.mobile-text {
    display: none;
    @media (min-width: 768px) {
        display: block;
        font-size: 40px;
        font-weight: 500;
        padding-top: 60px;
        padding-bottom: 70px;
        transform: translateX(60px);
    }
}

.mobile-title {
    color: $color-main;
    text-decoration: underline wavy #bdb0ec;
}

.section1-title-button {
    text-align: center;
}

.texts-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    @media (min-width: 768px) {
        flex-direction: row;
        text-align: start;
    }
}

.title-article {
    color: $color-main;
    font-size: 32px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}

.leer-mas {
    text-decoration: underline wavy #bdb0ec;
    color: $color-terciary;
    font-size: 16px;
    font-weight: 500;
}

.text-button {
    font-family: $font-main;
    font-size: 16px;
    text-decoration: none;
    color: $color-secondary;
}