<article class="section1">
    <div class="texts-articles">
        <img src="{=$imageurl}" alt="{=$image-description}">
        <h3 class="title-article">{=$title-article}</h3>
        <p class="p-section">{=$p-section}</p>
        <a class="leer-mas" href="">Leer más</a>
    </div>
</article>
<!--
<article class="article1">
    <div class="card-image">
        <img src="{=$imageurl}" alt="{=$image-description}">
        <div class="texts-articles">
            <h3 class="title-article">{=$title-article}</h3>
            <p class="p-section1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere ad, necessitatibus voluptatem asperiores est fugiat magni ex tenetur.</p>
            <a class="leer-mas" href="">Leer más</a>
        </div>
    </div>
</article>
<article class="article1">
    <div class="card-image">
        <img src="{=$imageurl}" alt="{=$image-description}">
        <div class="texts-articles">
            <h3 class="title-article">{=$title-article}</h3>
            <p class="p-section1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere ad, necessitatibus voluptatem asperiores est fugiat magni ex tenetur.</p>
            <a class="leer-mas" href="">Leer más</a>
        </div>
    </div>
</article>-->