<article class="article1">
    <div class="images-section1">
    <img src="{=$imageurl}" alt="{=$image-description}">
    </div>
    <div class="texts-articles">
    <h3 class="title-article">{=$title-article}</h3>
    <a class="leer-mas" href="">Leer más</a>
    <p class="p-section1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere ad, necessitatibus voluptatem asperiores est fugiat magni ex tenetur, modi adipisci nostrum maxime quibusdam assumenda quam accusamus placeat officia iste.</p>
    </div>
</article>