<section class="container">
    <section class="contact">
        <h1 class="contact-title">¿Te interesa? ¡Háblanos!</h1>
        <form action="" class="contact-form">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Nombre">
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email">
            <label for="comment"></label>
            <textarea name="comment" id="comment" cols="20" rows="4" placeholder="Cuéntanos sobre tu proyecto"></textarea>
            <button class="contact-form_button">Enviar</button>
        </form>
    </section>
    <section class="maps">
        <img src="/images/maps.png" alt="maps">
    </section>
</section>