<section class="section3">

    <h2 class="news-title"> Noticias </h2>

    <div class="news-container">
        <load src="/partials/article-news.html" imageurl="/images/8.png" image-description="Elon looking ugly" news-description="Elon Musk sorprende con un nuevo proyecto que pretende revolucionar el mundo."/>
        <load src="/partials/article-news.html" imageurl="/images/6.png" image-description="A girls with papers" news-description="La voz femenina que está transformando el mundo tech. ¡No te lo pierdas!"/>
        <load src="/partials/article-news.html" imageurl="/images/7.png" image-description="Rocket" news-description="Ella lidera el equipo detrás del despegue que está haciendo historia."/>
    </div>

    <a href="" class="news-button-link"> <button class="news-button">Explora noticias</button> </a>
</section>