<section class="section3">

    <h2 class=".news-title"> Noticias </h2>

    <article class="article">
        <figure>
            <img src="./images/8.png" alt="" class="image1-section3">
        </figure>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        
    </article>
    <article>
        <div>
            <img src="./images/6.png" alt="" class="image2-section3">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>
    </article>
    <article>
        <div>
            <img src="./images/7.png" alt="" class="image3-section3">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
    </article>
    <a href=""> Explora noticias </a>
</section>