<section class="section2">
    <div class="container">
        <h2 class="title-section2">PROYECTOS</h2>
        <p class="p-section2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptas ad numquam culpa consequuntur magni veritatis quos aperiam laborum, vel omnis quo, iusto repellendus inventore veniam facilis quidem, exercitationem dolor?</p>
    </div>
    <load src="/partials/article-projects.html" imageurl="/images/10.png" image-description="Objetos color negro" title-projects="BLVCK"/>
    
    <article class="article2">
        <img src="./images/5.png" alt="">
        <div class="content">
            <h3>CREAM</h3>
            <p>Branding</p>
        </div>
    </article>
    <article class="article2">
        <img src="./images/11.png" alt="Una chica y un chico con gafas de sol">
        <div class="content">
            <h3>FREDI</h3>
            <p>Branding</p>
        </div>
    </article>
    <article class="article2">
        <img src="./images/9.png" alt="Tarjeta">
        <div class="content">
            <h3>APOLLO</h3>
            <p>Branding</p>
        </div>
    </article>
    <div class="link-section2"><load src="/partials/button-services.html"/></div>
</section>