<section class="section1">
    <div>
    <h1 class="title-section1"></h1>
    <load src="/partials/button-services.html"/>
    </div>

    <div>
    <load src="/partials/article-services.html" imageurl="/images/2.png" image-description="Programación" title-article="Programación"/>
    <load src="/partials/article-services.html" imageurl="/images/3.png" image-description="Marketing" title-article="Marketing"/>
    <load src="/partials/article-services.html" imageurl="/images/1.png" image-description="Diseño" title-article="Diseño"/>
    </div>

</section>