<section class="section1">

    <div>
    <h1 class="title-section1">Lorem ipsgit um AdaDev</h1>
    <load src="/partials/button-services.html"/>
    </div> <!--*/falta añadir el "{=$title-section1}" para version ordenador/-->
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div>
    <load src="/partials/article-services.html" imageurl="/images/2.png" image-description="Programación" title-article="Programación" p-section1="Lorem"/>
    <load src="/partials/article-services.html" imageurl="/images/3.png" image-description="Marketing" title-article="Marketing" p-section1="Lorem"/>
    <load src="/partials/article-services.html" imageurl="/images/1.png" image-description="Diseño" title-article="Diseño" p-section1="Lorem"/>
    </div>

</section>