<section class="section1">

    <div>
        <h1 class="mobile-only">Lorem ipsum <span class="mobile-title">AdaDev</span></h1>
        <div class="button-services"><load src="/partials/button-services.html"/></div>
    </div>
    <div>
        <p class="mobile-text">Bienvenido al espacio donde la creatividad y la tecnología se encuentran.</p>
    </div>

    <div>
    <load src="/partials/article-services.html" imageurl="/images/2.png" image-description="Programación" title-article="Programación" p-section1="Lorem"/>
    <load src="/partials/article-services.html" imageurl="/images/3.png" image-description="Marketing" title-article="Marketing" p-section1="Lorem"/>
    <load src="/partials/article-services.html" imageurl="/images/1.png" image-description="Diseño" title-article="Diseño" p-section1="Lorem"/>
    </div>

</section>