@import 'core/variables';
@import 'core/reset';
/*@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

@import 'layout/projects';

:root{
    --font-family: Montserrat;
    --primary-color: #8447e9;
    --secundary-color: #ffffff;
    --terciary-color: #0f0f0f; 
    font-size: 62.5%; 
}


    
/*@media (min-width: 768px) {
   
    .container {
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        padding: 0 452px 24px 0;
    }
    .p-section2{
        display: flex;
        font-family: var(--font-family);
        font-size: 4rem;
        letter-spacing: -2px;
        color: var(--secundary-color);
        justify-content: flex-start;
    }
    .title-section2 {
        
    }
    .footer{
        background-image: url(../images/4.svg);
        background-color: transparent;
    }
}*/
